.product-box2:hover {
    background-color:#e0e2e4;
}
.rolex:hover {
    width: 203px;
}
.watches-text3 {
    margin-left: 657px;
    font-size: 22px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}